OpenTabletDriver/Logs
OpenTabletDriver/Plugins
yazi/plugins

# Symlinks maybe? tbh I don't really understand how they work
OpenTabletDriver/OpenTabletDriver
mpv/mpv
nvim/nvim
yazi/yazi
mpd/database
mpd/log
mpd/state
mpd/mpdstate
mpd/sticker.sql
ncmpcpp/error.log
mpd/playlists
Share
Flatpak
Full Config
